{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-wrapper-6">
        <div class="container">
            
            <!-- Basket Title -->
            <div class="row">
                <div class="col">
                    <h2 class="text-semibold text-dark-blue">Your Basket</h2>
                    <hr>
                </div>
            </div>

            <!-- Basket Content -->
            <div class="row">
                <div class="col">
                    {% if bag_items %}

                        <!-- Mobile View -->
                        <div class="d-block d-sm-none">
                            <div class="row">
                                <div class="col">
                                    {% include "bag/bag-total.html" %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <a href="{% url 'products' %}" class="btn btn-grey btn-transition">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left icon-dark-blue"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn btn-green btn-transition">
                                        <span class="text-uppercase">Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <hr>
                            <div class="row mt-5 mb-3 mx-0">
                                <div class="col b-radius bg-blue text-center py-1">
                                    <p class="text-white text-large text-medium mb-0">Bag Content Summary</p>
                                </div>
                            </div>
                            {% for item in bag_items %}
                                <div class="row">
                                    <div class="col-12 mb-4">
                                        {% include "bag/product-image.html" %}
                                    </div>
                                    <div class="col-12 mb-2">
                                        <p class="mb-1 text-semibold text-dark-blue">{{ item.product.brand_name }} {{ item.product.model_name }}</p>
                                        <p class="mb-1 text-medium text-black text-smaller"><span class="text-uppercase">Size:</span> <span class="text-blue text-italic">{{ item.product.size }}</span></p>
                                        <p class="my-0 text-medium text-black text-smaller"><span class="text-uppercase">Colour:</span> <span class="text-blue text-italic">{{ item.product.colour }}</span></p>
                                    </div>
                                    <div class="col-12 mb-2">
                                        <p class="mb-1 text-medium text-dark-blue">Price Each: £{{ item.product.price }}</p>
                                        <p class="my-0 text-medium text-dark-blue">Subtotal: £{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-6">
                                                <p class="my-0">Qty: {{ item.quantity }}</p>
                                            </div>
                                            <div class="col-6 d-flex justify-content-end">
                                                <a class="remove-item text-red" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row"><div class="col"><hr></div></div>
                            {% endfor %}
                        </div>

                        <!-- Tablet / Desktop View -->
                        <div class="table-responsive mt-3 d-none d-sm-block">
                            <table class="table table-borderless">
                                <thead class="bg-blue">
                                    <tr>
                                        <th scope="col" class="text-white text-semibold">Product</th>
                                        <td scope="col" class="text-white text-semibold"></td>
                                        <th scope="col" class="text-white text-semibold">Price</th>
                                        <th scope="col" class="text-white text-semibold">Quantity</th>
                                        <th scope="col" class="text-white text-semibold">Subtotal</th>
                                    </tr>
                                </thead>

                                {% for item in bag_items %}
                                    <tr class="table-products">
                                        <td class="py-3 w-25">
                                            {% include "bag/product-image.html" %}
                                        </td>
                                        <td class="py-3">
                                            {% include "bag/product-info.html" %}
                                        </td>
                                        <td class="py-3">
                                            <p class="my-0 text-medium text-dark-blue">£{{ item.product.price }}</p>
                                        </td>
                                        <td class="py-3">
                                            {% include "bag/quantity.html" %}
                                        </td>
                                        <td class="py-3">
                                            <p class="my-0 text-semibold text-dark-blue">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                        </td>
                                    </tr>                                    
                                {% endfor %}
                                <tr>
                                    <td colspan="5" class="pt-5 text-right">
                                        {% include "bag/bag-total.html" %}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-right">
                                        {% include "bag/checkout-buttons.html" %}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    {% else %}
                        <p class="lead mb-5">Your basket is empty</p>
                        <a href="{% url 'products' %}" class="btn btn-grey btn-transition">
                            <span class="icon">
                                <i class="fas fa-chevron-left icon-dark-blue"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}

    <script type="text/javascript">
        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var url = `/bag/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken};

            $.post(url, data)
            .done(function() {
                location.reload();
            });
        });
    </script>

{% endblock %}