{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid d-flex align-items-end mb-0">
        <div class="container">
            <h1 class="display-4 text-white text-medium jumbo-text-header mb-4">Crank-It Up</h1>
            <p class="text-larger text-white mb-1">Find your next bike here.</p>
            <p class="text-larger text-white">Feel alive!</p>
            <a class="btn btn-green btn-transition btn-lg mt-2" href="{% url 'products' %}" role="button">Search Bikes</a>
        </div>
    </div>
    <!-- Jumbotron Ends -->

    <!-- Info -->
    <div class="container-fluid container-wrapper bg-grey">
        <div class="row text-center">
            <div class="col-md-4 mb-5 mb-md-0">
                <i class="fa-solid fa-recycle fa-2xl icon-blue mb-5"></i>
                <h5 class="text-dark-blue text-bold mb-1">Reuse and Recycle</h5>
                <div class="text-dark-blue">We sell only quality used bikes</div>
            </div>
            <div class="col-md-4 mb-5 mb-md-0">
                <i class="fa-solid fa-screwdriver-wrench fa-2xl icon-blue mb-5"></i>
                <h5 class="text-dark-blue text-bold mb-1">Service and Inspection</h5>
                <div class="text-dark-blue">Fully serviced and safety inspection completed before sale</div>
            </div>
            <div class="col-md-4">
                <i class="fa-solid fa-award fa-2xl icon-blue mb-5"></i>
                <h5 class="text-dark-blue text-bold mb-1">Warranty</h5>
                <div class="text-dark-blue">1 year full warranty on all bikes</div>
            </div>
        </div>
    </div>   
    <!-- Info Ends -->

    <!-- Categories -->
    <div class="container-fluid bg-dark-blue text-center">
        <div class="container container-wrapper">
            <div class="row mb-4">
                <div class="col-12">
                    <h3 class="text-white">Categories</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="card no-border">
                        <a href="">
                            <img src="media/category_mountain.jpg" alt="" class="card-img">
                            <div class="image-overlay d-flex justify-content-center align-items-center">
                                <h4 class="card-title text-white">Mountain</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="card no-border">
                        <a href="">
                            <img src="media/category_gravel.jpg" alt="" class="card-img">
                            <div class="image-overlay d-flex justify-content-center align-items-center">
                                <h4 class="card-title text-white">Gravel</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-4 mb-md-0">
                    <div class="card no-border">
                        <a href="">
                            <img src="media/category_road.jpg" alt="" class="card-img">
                            <div class="image-overlay d-flex justify-content-center align-items-center">
                                <h4 class="card-title text-white">Road</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-4 mb-md-0">
                    <div class="card no-border">
                        <a href="">
                            <img src="media/category_hybrid.jpg" alt="" class="card-img">
                            <div class="image-overlay d-flex justify-content-center align-items-center">
                                <h4 class="card-title text-white">Hybrid</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Categories Ends -->

    <!-- Featured -->
    <div class="container-wrapper">
        <div class="container">
            <div class="row mb-4">
                <div class="col-12">
                    <h3 class="section-header text-dark-blue text-center">Featured Bikes</h3>
                </div>
            </div>
            <div class="row">
                {% for product in products %}
                    {% if product.is_active and product.is_featured %}
                        <div class="col-12 col-md-6 col-lg-4 mb-4">
                            <div class="card product no-border h-100">
                                {% if product.image %}
                                    <a href="">
                                        <img src="{{ product.image.url }}" class="card-img-top img-fluid product-image w-100" alt="{{ product.model_name }}">
                                    </a>
                                {% else %}
                                    <a href="">
                                        <img src="{{ MEDIA_URL }}noimage.jpg" class="card-img-top img-fluid product-image w-100" alt="{{ product.model_name }}">
                                    </a>
                                {% endif %}
                                <div class="card-body">
                                    <a href="">
                                        <h5 class="card-title text-semibold text-dark-blue">{{ product.brand_name }}</h5>
                                    </a>
                                    <p class="card-text text-semibold text-dark-blue text-small">{{ product.model_name }}</p>
                                    <div class="row mb-4">
                                        <div class="col-12 col-md-6">
                                            <p class="card-text text-medium text-black text-smaller">Size: <span class="text-italic">{{ product.size }}</span></p>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <p class="card-text text-medium text-black text-smaller">Category: <span class="text-italic">{{ product.category }}</span></p>
                                        </div>
                                    </div>
                                        <p class="card-text text-semibold text-blue">£{{ product.price }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="row mt-3">
                <div class="col-12 text-center">
                    <a class="btn btn-green btn-transition btn-lg mt-2" href="{% url 'products' %}" role="button">Search all bikes</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured Ends -->

    <!-- Advertising -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6 px-0 advert-image">
                <picture>
                    <img src="media/home_orange_bike.jpg" alt="" class="w-100">
                    <div class="image-overlay"></div>
                </picture>
            </div>           
            <div class="col-12 col-lg-6 bg-grey d-flex align-items-center">
                <div class="col-12 px-sm-5 py-5 py-lg-2">
                    <h3 class="text-advert text-dark-blue text-medium mb-5">Crank-It Up, dedicated towards
                        finding you your next bike adventure!</h3>
                    <p class="text-dark-blue">Search for your next bike today.</p>
                    <a class="btn btn-green btn-transition btn-lg" href="{% url 'products' %}" role="button">Search Bikes</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Advertising Ends -->

    <!-- Strapline -->
    <div class="container-fluid bg-dark-blue text-center px-4 py-4">
        <div class="row">
            <div class="col-12">
                <p class="text-larger text-white mb-0">Quality used mountain, gravel, road and hybrid bikes. We have a bike to suit everyone!</p>
            </div>
        </div>
    </div>
    <!-- Strapline Ends -->

    <!-- Bottom Image -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 px-0">
                <picture>
                    <img src="media/home_green_bike.jpg" alt="" class="bottom-image w-100">
                    <div class="image-overlay"></div>
                </picture>
            </div>
        </div>
    </div>
    <!-- Bottom Image Ends -->
{% endblock %}