{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-wrapper-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="text-center text-semibold text-dark-blue mb-5">My Profile</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-6 order-lg-last mb-5">
                    <p class="text-medium text-dark-blue">Order History</p>
                    <div class="col-12 order-sum-bk bg-white b-radius p-3 mb-3">
                        <div class="row">
                            <div class="col">
                                {{ orders }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <p class="text-dark-blue">Default Contact / Delivery Information</p>
                    <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button id="submit-button" class="btn btn-green btn-transition float-right">Update Information</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
        <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}