{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-wrapper-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="text-semibold text-dark-blue mb-4">My Profile</h2>
                    <hr>
                </div>
            </div>
            {{ profile }}
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{% endblock %}