/* --------------------------------------------------------------------------------------- Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* --------------------------------------------------------------------------------------- Variable Colours */

:root {
    /* Primary Colours */
    --white: #FFF;
    --black: #000;
    --grey: #E8E8E8;
    --green: #39e344;
    --blue: #3983e3;
    --dark-blue: #112e8c;
    --red: #ff4d4d;
    /* Tints */
    --light-blue: #98bef0;
    --dark-green: #33cc3d;
    --dark-grey: #aeaeae;
}

/* --------------------------------------------------------------------------------------- Text/Padding/Margin */

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    font-weight: 400;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.text-bold {
    font-weight: 700;
}

.text-semibold {
    font-weight: 600;
}

.text-medium {
    font-weight: 500;
}

.text-italic {
    font-style: italic;
}

.text-larger {
    font-size: 120%;
}

.text-large {
    font-size: 110%;
}

.text-small {
    font-size: 95%;
}

.text-smaller {
    font-size: 85%;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-underline {
    text-decoration: underline;
}

.line-height {
    line-height: 2;
}

.b-radius {
    border-radius: 0.25rem;
}

.b-radius-top {
    border-radius: 0.25rem 0.25rem 0 0;
}

.no-hyphen {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
}

/* --------------------------------------------------------------------------------------- Containers */

.header-container {
    padding-top: 151px;
}

.container-wrapper {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.container-wrapper-6 {
    padding-top: 3rem;
    padding-bottom: 6rem;
}

/* --------------------------------------------------------------------------------------- Background Colors */

.bg-white {
    background-color: var(--white);
}

.bg-grey {
    background-color: var(--grey);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-dark-blue {
    background-color: var(--dark-blue);
}

.bg-green {
    background-color: var(--green);
}

.bg-black {
    background-color: var(--black);
}

/* --------------------------------------------------------------------------------------- Text Colors */

.text-black {
    color: var(--black);
}

.text-white {
    color: var(--white);
}

.text-grey {
    color: var(--grey);
}

.text-blue {
    color: var(--blue);
}

.text-dark-blue {
    color: var(--dark-blue);
}

.text-light-blue {
    color: var(--light-blue);
}

.text-red {
    color: var(--red);
}

/* --------------------------------------------------------------------------------------- Buttons */

.btn {
    background-color: transparent;
    border: var(--green);
}

.btn-transition {
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.btn-green {
    background-color: var(--green);
    color: var(--dark-blue);
    border: 1px solid var(--green);
}

.btn-green:hover {
    background-color: var(--dark-green);
    color: var(--dark-blue);
    border: 1px solid var(--dark-green);
}

.btn-grey {
    background-color: var(--grey);
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
}

.btn-grey:hover {
    background-color: var(--dark-grey);
    color: var(--dark-blue);
}

.btn-light-blue {
    background-color: var(--light-blue);
    color: var(--dark-blue);
}

.btn-light-blue:hover {
    background-color: var(--blue);
    color: var(--dark-blue);
}

.btn-backtoproducts {
    color: var(--dark-blue);
}

.btn-backtoproducts:hover {
    text-decoration: underline;
}

/* --------------------------------------------------------------------------------------- Icons */

.icon-white {
    color: var(--white);
}

.icon-blue {
    color: var(--blue);
}

.icon-dark-blue {
    color: var(--dark-blue);
}

.icon-green {
    color: var(--green);
}

.icons:hover {
    color: var(--dark-green);
    text-decoration: none;
}

/* --------------------------------------------------------------------------------------- Misc */

.no-border {
    border: none;
}

/* --------------------------------------------------------------------------------------- Navbar */

.img-logo {
    width: 120px;
}

.search-box input {
    box-shadow: 0px 0px 4px 0px rgba(57, 131, 227, 1) inset;
}

.fixed-top {
    box-shadow: 0 2px 12px 1px rgba(0, 0, 0, .4);
}

.dd-menu-nav {
    background-color: var(--white);
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, .4);
}

.dd-item-nav {
    color: var(--dark-blue);
}

.dd-item-nav:focus, .dd-item-nav:hover {
    color: var(--white);
    text-decoration: underline;
    background-color: var(--blue);
}

.dd-menu-lownav {
    background-color: var(--white);
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, .4);
}

.dd-item-lownav {
    color: var(--dark-blue);
}

.dd-item-lownav:focus, .dd-item-lownav:hover {
    color: var(--white);
    text-decoration: underline;
    background-color: var(--blue);
}

/* --------------------------------------------------------------------------------------- Toasts */

.message-position {
    position: relative !important;
}

.message-container {
    position: absolute;
    top: 95px;
    right: 29px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
    width: 350px;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 30px;
}

.arrow-success {
    border-bottom-color: var(--success) !important;
}

.arrow-danger {
    border-bottom-color: var(--danger) !important;
}

.arrow-warning {
    border-bottom-color: var(--warning) !important;
}

.arrow-info {
    border-bottom-color: var(--info) !important;
}

.bag-notification-wrapper {
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

.bag-notification-wrapper {
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* --------------------------------------------------------------------------------------- Home Page */

.jumbotron {
    background: url('/media/home_jumbotron.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 75vh;
    position: relative;
    padding-bottom: 3rem;
}

.display-4 {
    font-size: 3rem;
}

.product {
    box-shadow:  10px 8px 26px var(--grey);
}

.card-body {
    height: 100%;
}

.product-image {
    padding: 1.25rem;
}

.text-advert {
    font-size: 1.5rem;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    line-height: 1.5;
}

.advert-image {
    position: relative;
}

.image-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(57, 131, 227, 0.3);
}

.bottom-image {
    object-fit: cover;
    height: 65vh;
}

/* --------------------------------------------------------------------------------------- Products Page */

.product-main-image {
    height: 55vh;
    background-image: url('/media/product_header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% center;
    box-shadow: inset 0 0 0 2000px rgba(57, 131, 227, 0.4);
}

#btt-button {
    width: 50px;
    height: 50px;
    background: var(--green);
    position: fixed;
    right: 12px;
    bottom: 12px;
    display: none;
    z-index: 10;
    border-radius: 0.25rem;
}

#btt-button a:hover {
    background: var(--dark-green);
    border-radius: 0.25rem;
}

.btt-link,
.remove-item {
    cursor: pointer;
}

/* --------------------------------------------------------------------------------------- Basket Page */

thead th:first-child {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
   
   thead th:last-child {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.table-products {
    border-bottom: 1px solid var(--grey);
}

.table-price{
    border-bottom: 1px solid var(--dark-blue);
}

.remove-item:hover {
    color: var(--red);
}

/* --------------------------------------------------------------------------------------- Checkout */

.form-control:focus {
    border-color: var(--light-blue);
}

.order-sum-bk {
    max-height: 350px;
    overflow-y: auto;
    border: 0.5px solid var(--grey);
    box-shadow: 1px 1px 5px 0 var(--dark-grey);
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.order-sum-success-bk {
    box-shadow: 1px 1px 5px 0 var(--dark-grey);
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

/* Checkout Animation */
#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* --------------------------------------------------------------------------------------- Stripe */

.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 36px;
    padding: 6px 12px;
    border: 0.75px solid var(--grey);
    border-radius: 0.25rem;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
    border-color: var(--light-blue);
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: 0;
}

#payment-form .form-control,
#card-element {
    color: var(--black);
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* --------------------------------------------------------------------------------------- Login / Register */

.login-reg-form {
    background-color: rgba(57, 131, 227, 0.4);
    box-shadow: 3px 3px 6px 0 var(--dark-grey);
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    border: none;
}

label[for="id_login"],
label[for="id_password"],
label[for="id_email"],
label[for="id_email2"],
label[for="id_username"],
label[for="id_password1"],
label[for="id_password2"],
label[for="id_oldpassword"] {
    display: none;
}

/* --------------------------------------------------------------------------------------- Profile */

.profile-style-input {
    box-sizing: border-box;
    height: 36px;
    padding: 6px 12px;
    border: 0.75px solid var(--grey);
    border-radius: 0.25rem;
    background-color: white;
    box-shadow: 3px 3px 6px 0 var(--dark-grey);
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.profile-style-input:focus,
.profile-style-input:active {
    box-shadow: 3px 3px 6px 0 var(--dark-grey);
    border-color: var(--light-blue);
}

.profile-style-input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

/* --------------------------------------------------------------------------------------- Product Admin */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

label[for="id_category"],
label[for="id_brand_name"],
label[for="id_model_name"],
label[for="id_description"],
label[for="id_size"],
label[for="id_colour"],
label[for="id_price"],
label[for="id_image"],
label[for="id_is_featured"],
label[for="id_is_active"] {
    font-weight: 500;
}

/* --------------------------------------------------------------------------------------- Footer */

.footer-media a i:hover,
.footer-media a i:active,
.footer-media a i:focus,
.footer-media a i:active:focus {
    color: var(--dark-green) !important;
}

.footer-logo-position {
    position: relative;
}

.footer-logo {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
}

.footer-border {
    border-top: 1.75px solid var(--dark-blue);
}

.footer-border-none {
    border-top: none;
}

.footer-logo-products {
    background-color: var(--white);
    padding: 0px 1px;
}

.footer-logo-products-none {
    background-color: unset;
    padding: unset;
}

/* --------------------------------------------------------------------------------------- Media Queries */

/* Small - Medium Screens */
@media screen and (max-width: 767px) {
    .jumbotron {
        background: url('/media/home_jumbotron_mobile.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        height: 75vh;
        position: relative;
        padding-bottom: 3rem;
    }
}

/* Small - Medium Screens */
@media screen and (min-width: 576px) and (max-width: 991px) {
    .header-container {
        padding-top: 166px;
    }
}

/* Medium / Tablet Screens */
@media screen and (max-width: 991px) {
    .dd-menu-lownav {
        background-color: var(--blue);
        box-shadow: none;
    }
    
    .dd-item-lownav {
        color: var(--white);
    }

    .jumbotron {
        height: 65vh;
    }

    .text-footer {
        font-size: 100%;
    }

    .message-container {
        right: 14px;
    }
}

/* Small Devices - Landscape */
@media screen and (min-width: 576px) and (max-width: 991px) and (orientation: landscape) {
    .jumbotron {
        height: 85vh;
    }

}

/* Larger / Tablet Screens */
@media screen and (min-width: 992px) {
    .jumbotron {
        background-position: top;
    }

    .jumbo-text-header {
        font-size: 3.5rem;
    }
}