<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <!-- Home link -->
        <li class="nav-item">
            <a class="nav-link text-medium text-white mr-3" href="{% url 'home' %}">
                Home
            </a>
        </li>

        <!-- Products Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link text-medium text-white ml-3" href="#" id="products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bikes
            </a>
            <div class="dropdown-menu bg-blue border-0" aria-labelledby="products-link">
                <a href="{% url 'products' %}" class="dropdown-item pl-2">All Bikes</a>
                <a href="{% url 'products' %}?category=mountain" class="dropdown-item pl-2">Mountain</a>
                <a href="{% url 'products' %}?category=gravel" class="dropdown-item pl-2">Gravel</a>
                <a href="{% url 'products' %}?category=road" class="dropdown-item pl-2">Road</a>
                <a href="{% url 'products' %}?category=hybrid" class="dropdown-item pl-2">Hybrid</a>
            </div>
        </li>
    </ul>
</div>