{% load static %}

<div id="topnav-mobile" class="bg-white pt-lg-2 d-flex d-lg-none">

    <!-- Menu Toggle -->
    <div class="col-2 col-sm-2 my-auto pl-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
            aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <!-- Logo -->
    <div class="d-none d-sm-block col-sm-4 my-auto">
        <a href="{% url 'home' %}" class="navbar-brand">
            <img src="{{ MEDIA_URL }}ciu_logo_blue.png" alt="CIU-Logo" id="ciu-logo" class="img-logo">
        </a>
    </div>

    <!-- Nav -->
    <div class="col-10 col-sm-6 my-auto px-0">
        <ul class="list-inline list-unstyled text-right my-0 pr-0">

            <!-- Home -->
            <li class="list-inline-item mr-0">
                <a class="nav-link pr-0" href="{% url 'home' %}">
                    <div class="text-center">
                        <div><i class="fa-solid fa-house fa-lg icon-dark-blue"></i></div>
                        <p class="navbar-icons text-dark-blue my-0">
                            Home
                        </p>
                    </div>
                </a>
            </li>

            <!-- Account Dropdown -->
            <li class="list-inline-item dropdown mr-0">
                <a class="text-black nav-link pr-0" href="#" id="user-options" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <div class="text-center">
                        <div><i class="fas fa-user fa-lg icon-dark-blue"></i></div>
                        <p class="navbar-icons text-dark-blue my-0">Account</p>
                    </div>
                </a>
                <div class="dropdown-menu dd-menu-nav border-0" aria-labelledby="user-options">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <a href="{% url 'add_product' %}" class="dropdown-item dd-item-nav">Product Management</a>
                        {% endif %}
                        <a href="{% url 'profile' %}" class="dropdown-item dd-item-nav">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item dd-item-nav">Logout</a>
                    {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item dd-item-nav">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item dd-item-nav">Login</a>
                    {% endif %}
                </div>
            </li>

            <!-- Basket -->
            <li class="list-inline-item">
                <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link pr-0" href="{% url 'view_bag' %}">
                    <div class="text-center">
                        <div><i class="fa-solid fa-basket-shopping fa-lg icon-dark-blue"></i></div>
                        <p class="navbar-icons text-dark-blue my-0">
                            {% if grand_total %}
                                £{{ grand_total|floatformat:2 }}
                            {% else %}
                                £0.00
                            {% endif %}
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>