{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Product Image / Title -->
    <div class="product-main-image mb-0">
        <div class="container container-wrapper">
            <div class="row">
                {% if current_category %}
                    <div class="col-12">
                        <h2 class="text-white text-center mb-4">{% if current_category.name == 'mountain' %}Mountain{% elif current_category.name == 'gravel' %}Gravel{% elif current_category.name == 'road' %}Road{% elif current_category.name == 'hybrid' %}Hybrid{% else %}{% endif %} Bikes</h2>
                        <p class="text-larger text-white text-center">Find your next bike here.</p>
                    </div>
                {% else %}
                    <div class="col-12">
                        <h2 class="text-white text-center mb-4">All Bikes</h2>
                        <p class="text-larger text-white text-center">Find your next bike here.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Product Title -->
    <div class="container-fluid bg-dark-blue text-center px-4 py-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% if current_category %}
                        <p class="text-white text-center mb-0">{% if current_category.name == 'mountain' %}Mountain{% elif current_category.name == 'gravel' %}Gravel{% elif current_category.name == 'road' %}Road{% elif current_category.name == 'hybrid' %}Hybrid{% else %}{% endif %} Bikes</p>
                    {% else %}
                        <p class="text-white text-center mb-0">All Bikes</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Products -->
    <div class="container-wrapper-6">
        <div class="container">
            <!-- Product Sort -->
            <div class="row mb-4">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper">
                        <select id="sort-selector" name="custom-select custom-select-sm rounded-0 border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == "None-None"%}selected{% endif %}>Sort by...</option>
                            <option value="price-asc" {% if current_sorting == "price-asc"%}selected{% endif %}>Price (low to high)</option>
                            <option value="price-desc" {% if current_sorting == "price-desc"%}selected{% endif %}>Price (high to low)</option>
                            <option value="brand_name-asc" {% if current_sorting == "brand_name-asc"%}selected{% endif %}>Brand (A-Z)</option>
                            <option value="brand_name-desc" {% if current_sorting == "brand_name-desc"%}selected{% endif %}>Brand (Z-A)</option>
                            <option value="category-asc" {% if current_sorting == "category-asc"%}selected{% endif %}>Category (A-Z)</option>
                            <option value="category-desc" {% if current_sorting == "category-desc"%}selected{% endif %}>Category (Z-A)</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-black mt-3 text-center text-md-left">
                        {% if search_term or current_category or current_sorting != 'None_None' %}
                            <span class=""><a href="{% url 'products' %}">All Bikes</a> | </span>
                        {% endif %}
                        {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>
            <div class="row">
                {% for product in products %}
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="card product no-border h-100">
                            <!-- Product Image -->
                            {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img src="{{ product.image.url }}" class="card-img-top img-fluid product-image w-100" alt="{{ product.model_name }}">
                                </a>
                            {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img src="{{ MEDIA_URL }}noimage.jpg" class="card-img-top img-fluid product-image w-100" alt="{{ product.model_name }}">
                                </a>
                            {% endif %}
                            <!-- Product Details -->
                            <div class="card-body">
                                <a href="{% url 'product_detail' product.id %}">
                                    <p class="card-title text-semibold text-dark-blue text-larger mb-2">{{ product.brand_name }}</p>
                                </a>
                                <p class="card-text text-semibold text-dark-blue text-small">{{ product.model_name }}</p>
                                <div class="row mb-4">
                                    <div class="col-12 col-md-6">
                                        <p class="card-text text-medium text-black text-smaller">Size: <span class="text-italic">{{ product.size }}</span></p>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        {% if product.category %}
                                            <p class="card-text text-medium text-black text-smaller">Category: 
                                                <a class="text-black" href="{% url 'products' %}?category={{ product.category.name }}">
                                                    <span class="text-italic">{{ product.category.friendly_name }}</span>
                                                </a>                                           
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <p class="card-text text-semibold text-blue text-larger">£{{ product.price }}</p>
                                    </div>
                                    <!-- Admin - Edit / Delete -->
                                    <div class="col-12 col-md-6">
                                        {% if request.user.is_superuser %}
                                            <small>
                                                <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                                <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                            </small>
                                        {% endif %}
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}

    {{ block.super }}
        <!-- Sort Box JS -->
        <script src="{% static 'products/sort_box.js' %}"></script>

{% endblock %}